<div class="slanted">
  <div class="resume-container">
    <h1>CAPCO (Front End Angular Developer)</h1>
    <div class="image-container">
      <img class="capco" src="../../assets/cooperators.png" alt="" />
    </div>
    <h3>Experience</h3>
    <ul>
      <li>Built/tested mock APIs to meet performance requirements.</li>
      <li>
        Tested applications (QA) to ensure usability and quality assurance
        (Integration + E2E).
      </li>
      <li>
        Created demo front end web application for CDIC Insurance, while
        adhering to requirements.
      </li>
      <li>
        Helped develop The Cooperators Insurance web application with team of
        developers.
      </li>
    </ul>
  </div>
</div>

<div class="resume-container bns">
  <h1>Bicycle Nova Scotia (Web Developer Internship)</h1>
  <div class="image-container">
    <img class="capco" src="../../assets/bns.png" alt="" />
  </div>

  <h3>Experience</h3>
  <ul>
    <li>Built website content and designs using HTML/CSS.</li>
    <li>
      Modified and updated website using WordPress to improve functionality and
      user experience.
    </li>
    <li>Developed in PHP to create custom forms for company's website.</li>
    <li>
      Utilized Swift and Google Maps API to build custom GPS phone application.
    </li>
  </ul>
</div>
